body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150px;
}

.wrapper>div {
    background: #ddd;
    line-height: 50px;
    height: 500px;
    margin: 10px;
    text-align: center;
}

img {
    margin: 20px;
    width: 200px;
    height: 300px;
}

h2 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(31, 25, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}